.desktopNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;

  .logo {
    flex-shrink: 0;

    img {
      object-fit: contain;
      width: 280px;
    }
  }

  .ctaButton {
    color: white;
    padding: 14px 40px 14px 40px;
    background-image: linear-gradient(250deg, #008a3d 19%, #010603 100%);
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;

    &:hover {
          background-image: linear-gradient(250deg, #010603 19%, #008a3d 100%);

    }
  }
}
