.reviewsSection {
  background: linear-gradient(135deg, #007a35, #0c2e10);
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  background: linear-gradient(180deg, #e9ffe8, #ffffff);
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
  text-align: center;
  min-height: 320px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin: 0 1rem;
  position: relative;
}

.quote {
  font-size: 2rem;
  color: #008a3d;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.text {
  font-size: 1.1rem;
  color: #12121e;
  margin-bottom: 2rem;
  line-height: 1.6;
  padding: 0 1rem;
}

.name {
  font-size: 1.05rem;
  font-weight: 700;
  color: #008a3d;
}

.swiper-pagination-bullets {
  bottom: 10px !important;
}


.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 0 6px;
  transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #00c15a;
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto;
  }
}
