@import '../../../ui/styles/mixins.scss';

.mobileNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.5rem;
  background-color: white;
  z-index: 1002;

  .menuToggle {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #0a3c23;
    cursor: pointer;
    z-index: 1003;
  }
 

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1003;

    img{
        object-fit: contain;
        width: 200px;
    
        @include media('m') {
         width: 250px;
         object-fit: cover;
  }
    }
  }

  .placeholder {
    width: 1.8rem;
  }
}
