.footer {
  background-color: #13131f;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  user-select: none;
}

.link {
  color: #4caf50;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #81c784;
    text-decoration: underline;
  }
}
